# Credentials for Tastytrade API
# Note: Provide your valid Refresh Token (JWT) here.
TT_REFRESH_TOKEN=your_refresh_token_here

# Provide your Client Secret (Provider Secret) here.
TT_SECRET=your_client_secret_here

# Optional: Set to True if using Certification (Sandbox) environment
# TT_IS_TEST=True
